
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #111;
    color:#111;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-items ul {
    list-style: none;
    display: flex;
}

.nav-items li {
    margin-right: 20px;
}

.nav-items a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-image: url('image3.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 250px 0;
}

.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-text button {
    background-color: #e50914;
    color: #fff;
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; 
    height: auto;
    margin-right: 5px; 
}

.content {
background-image: url('image6.jpg');
background-size: cover;
background-position: center;
color: #fff;
text-align: center;
padding: 250px 0;
}

.content-text h2 {
        font-size: 3.5rem;
        margin-bottom: 20px;
}

.content-text p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
/* Style for the email input */
.email-input {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.email-input:focus {
    border-color: #007bff; /* Highlight border color on focus */
}

/* Optional: Add styling for the label */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.container {
    background:#111;
    color:white;
   text-align:center;
    padding: 250px 0;
    top: 20px;
    left: 30px;
 }
     .container-text h3 {
        font-size: 3.5rem;
        margin-bottom: 20px;
}

.container-text p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.container-text button {
    background-color: #e50914;
    color: #fff;
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}